[Unit]
Description=Pull network saves on startup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/deck/Emulation/nas_to_deck.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
